.button,
.button:link,
.button:visited {
  font-family: 'Jost', sans-serif;
  padding: 1.7rem 3.5rem;
  display: flex;
  align-items: center;
  font-size: $font-size-base;
  gap: 1rem; //отступ между текстом с стрелкой
  border: solid 1px transparent;
  transition: all 0.3s;
}

.button-orange {
  background-color: $orange;
  color: $white;
}

.button-orange:hover,
.button-orange:active {
  background-color: $white;
  border-color: $black;
  color: $black;
}

.button-white {
  background-color: $white;
  border-color: $black;
  color: $black;
}

.button-white:hover,
.button-white:active {
  background-color: $orange;
  border-color: transparent;
  color: $white;
}
