@import 'variables';
@import 'mixins';
@import 'utils';
@import 'button';
@import "./hero-section.scss";

@import "blocks/process-section";
@import "blocks/testimonials-section";
@import "blocks/team-section";
@import "blocks/status-company";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}
