@import "variables";
@import "mixins";
@import "utils";
@import "button";

@import "blocks/header.scss";

@import "blocks/about";
@import "blocks/status-company";

@import "blocks/hero-section.scss";

@import "blocks/process-section";
@import "blocks/testimonials-section";
@import "blocks/team-section";
@import "blocks/footer";
@import "blocks/projects";

@import "responsive_proc-team-test";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}
