.heading {
  font-family: 'Jost', sans-serif;
  font-size: $font-size-headers;
  font-weight: $weight-bold-m;
  color: $black;
  line-height: 1.2;
}

.sub-heading {
  font-family: 'Jost', sans-serif;
  font-size: $font-size-base;
  font-weight: $weight-bold-m;
  color: $black;
  line-height: 1.6;
}

.container {
  max-width: 192rem;
  padding: 0 $padding-large;
  margin: 0 auto;
}

.paragraph {
  font-family: 'Barlow', sans-serif;
  font-size: $font-size-base;
  font-weight: $weight-regular;
  color: $gray;
  line-height: 1.6;
}

