// Цвета
$white: #FFFFFF;
$black: #0E0E0E;
$gray: #555555;
$orange: #FB5B11;
$pointer: pointer;

// Шрифты
$font-family: 'Arial', sans-serif;
$font-size-base: 1.6rem;
$font-size-middle: 2.4rem;
$font-size-large: 3.2rem;
$font-size-headers: 5.2rem;
b

$weight-regular: 400;
$weight-bold-m: 600;
$weight-bold-l: 700;


// Отступы
$padding-small: 8px;
$padding-medium: 4.7rem;
$padding-large: 31.2rem;
