<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head class="head">
    <title>Списание-Создать</title>
    <div th:replace="fragments/head :: header"></div>
    <!-- <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="" />
    <meta property="og:url" content="https://site.ru" />
    <meta property="og:title" content="MAD DOG" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="442" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="Site-name" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Andrey" />
    <meta name="description" content="MAD DOG" />
    <meta name="keywords" content="MAD DOG" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:title"
      content="MAD DOG - сервис для учета и автоматизации проката"
    />
    <meta
      property="og:image"
      content="assets/img/icons/badge.jpg"
      th:src="@{/img/icons/badge.jpg}"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta
      property="og:description"
      content="Программа для учёта инструментов"
    />
    <link
      rel="image_src"
      href="/static/img/icons/badge.jpg"
      th:href="@{/img/icons/badge.jpg}"
    />
    <meta name="theme-color" content="#179d82" />
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
    <link
      rel="manifest"
      href="/templates/assets/json/manifest.json"
      th:href="@{/templates/assets/json/manifest.json}"
    />
    &ndash;&gt;

    <link
      rel="preload"
      href="../static/fonts/fontawesome/fontawesome-all-css.css"
      as="style"
      th:href="@{/fonts/fontawesome/fontawesome-all-css.css}"
    />
    <link
      rel="preload"
      href="../static/css/style.css"
      as="style"
      th:href="@{/css/style.css}"
    />
    <link
      rel="preload"
      href="../static/css/app.css"
      as="style"
      th:href="@{/css/app.css}"
    />
    <link
      rel="preload"
      href="../static/css/media.css"
      as="style"
      th:href="@{/css/media.css}"
    />
    <link
      rel="preload"
      href="../static/css/checkout.css"
      as="style"
      th:href="@{/css/checkout.css}"
    />
    <link
      rel="preload"
      href="../static/css/main.css"
      as="style"
      th:href="@{/css/main.css}"
    />

    <link
      rel="stylesheet"
      href="../static/fonts/webfonts/fa-solid-900.ttf"
      th:href="@{/fonts/webfonts/fa-solid-900.ttf}"
    />
    <link
      rel="stylesheet"
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/app.css"
      th:href="@{/css/app.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/media.css"
      th:href="@{/css/media.css}"
    />
    <link
      rel="stylesheet"
      href=".../static/css/animation-iror.css"
      th:href="@{/css/animation-iror.css}"
    />
    <link
      rel="stylesheet"
      href="../static/fonts/fontawesome/fontawesome.css"
      th:href="@{/fonts/fontawesome/fontawesome.css}"
    />
    <link
      rel="stylesheet"
      href="../static/fonts/fontawesome/fontawesome-all-css.css"
      th:href="@{/fonts/fontawesome/fontawesome-all-css.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/checkout.css"
      th:href="@{/css/checkout.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/main.css"
      th:href="@{/css/main.css}"
    />

    <script
      src="/static/fonts/fontawesome/all.js"
      th:src="@{/fonts/fontawesome/all.js}"
    ></script>

    <script src="/static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"
      th:src="@{/js/jquery.modal.js}"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
      th:href="@{/css/jquery.modal.css}"
    /> -->
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav role="navigation" class="navbar navbar-admin navbar-fixed-top"
                     th:insert="fragments/header_logout.html"></nav>
                <main class="wrapper wrapper-content">
                    <div class="b-overlay-wrap position-relative">
                        <div class="btn-pimary__groups mt-3 mb-3">
                            <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
                                <div class="mb-3 text-right">
                                    <span class="btn-pimary__groups_title">Списание</span>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="/write-off" class="btn btn-primary width my-yellow">Назад</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="/tools/create" class="btn btn-primary width my-green">Добавить
                                        оборудование</a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="form-creat mb-3 col-12">
                                <div class="p-3 edit-container d-block col-8 col-md-12">
                                    <div class="form-creat__half_two-column">
                                        <div role="group" class="form-group">
                                            <label class="d-block size">Примечание</label>
                                            <textarea id="write-off_note" required name="note" class="form-control"
                                                      style="height: 40px"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-creat__half_two-column">
                                        <div role="group" class="form-group">
                                            <label class="d-block size">Фотографии</label>
                                            <textarea id="write-off_photos" class="form-control" required
                                                      style="height: 40px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-ll__header custom-ll__header-zipcode">
                            <div class="custom-ll__header__full show">
                                <div class="custom-ll__header__full__right">
                                    <div class="custom-ll__header-wrapp">
                                        <div class="header__search header__search_width header__search_width-clients"
                                             style="margin-left: -3px">
                                            <input id="barcode_search_input" type="text" name="barcode"
                                                   placeholder="Введите штрих код" class="form-control"/>
                                            <span class="header__search__btn">
                                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true"
                                                     focusable="false"
                                                     data-prefix="fa"
                                                     data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512">
                                                  <path
                                                          fill="currentColor"
                                                          d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                                  </path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="custom-ll__table table-responsive mb-3">
                            <table class="table delivery w-table h-table in4dr-form transparent">
                                <thead>
                                <tr>
                                    <th class="first-th">#</th>
                                    <th>Наименование</th>
                                    <th>Сумма списания</th>
                                    <th>Штрих код</th>
                                    <th>Группа</th>
                                    <th>Марка/Модель</th>
                                    <th>Серийный номер</th>
                                    <th>Комментарий</th>
                                    <th>Характеристики</th>
                                    <th>Состояние</th>
                                    <th>Цена</th>
                                    <th>Себестоимость</th>
                                    <th>Комплект</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tool,itemStat : ${list_tools}" class="row-tool">
                                    <td data-label="#" class="column-table">
                                        <div class="column-table_checkbox-wrapp">
                                            <input class="column-table_checkbox choose_tool ids" type="checkbox"/>
                                            <input type="hidden" th:value="${tool.id}"/>
                                        </div>
                                    </td>
                                    <td data-label="Наименование" th:utext="${tool.name}"></td>
                                    <td data-label="Сумма списания" class="td-whith-input">
                                        <input name="price" class="form-control input-without-style writeoff_price"
                                               type="text"
                                               placeholder="Введите цену"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                               aria-describedby="item-human-passport_serial"/>
                                    </td>
                                    <td data-label="Штрихкод" class="barcode-tool" th:utext="${tool.barcode}"></td>
                                    <td data-label="Группа" th:utext="${tool.category}"></td>
                                    <td data-label="Марка\Модель" th:utext="${tool.model}"></td>
                                    <td data-label="Серийный номер" th:utext="${tool.serialNumber}"></td>
                                    <td data-label="Комментарий" th:utext="${tool.comment}"></td>
                                    <td data-label="Характеристики" th:utext="${tool.characteristics}"></td>
                                    <td data-label="Состояние" th:utext="${tool.state}"></td>
                                    <td data-label="Цена" th:utext="${tool.costPrice}"></td>
                                    <td data-label="Себестоимость" th:utext="${tool.priceSell}"></td>
                                    <td data-label="Комплект" th:utext="${tool.equip}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="btn-pimary__groups mt-3 mb-3">
                            <div class="btn-pimary__groups-wrapper mb-3">
                                <div class="mb-3 text-right">
                                    <input id="write-off_on" type="submit" value="В списание"
                                           class="btn btn-primary width orange"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-control col-lg-12 order-lg-1">
                        <!-- Bootstrap 4 -->
                        <nav aria-label="Навигация по страницам">
                            <ul class="pagination">
                                <li
                                        class="page-item"
                                        th:if="${list_tools.totalPages > 0}"
                                        th:each="page_number : ${page_numbers}"
                                >
                                    <a
                                            class="page-link-m page-link"
                                            th:href="@{/write-off/create(size=${list_tools.size}, page=${page_numberStat.index})}"
                                            th:text="${page_numberStat.index}"
                                            th:class="${page_number==list_tools.number + 1} ? active"
                                    ></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </main>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
<div>
    <script
            src="/static/js/SearchBarcode.js"
            th:src="@{/js/SearchBarcode.js}"
    ></script>
</div>
</body>
</html>
