<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head class="head">
    <title>Редактирование оборудования</title>
    <div th:replace="fragments/head :: header"></div>
    <!-- <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="" />
    <meta property="og:url" content="https://site.ru" />
    <meta property="og:title" content="MAD DOG" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="442" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="Site-name" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Andrey" />
    <meta name="description" content="MAD DOG" />
    <meta name="keywords" content="MAD DOG" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:title"
      content="MAD DOG - сервис для учета и автоматизации проката"
    />
    <meta
      property="og:image"
      content="assets/img/icons/badge.jpg"
      th:src="@{/img/icons/badge.jpg}"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta
      property="og:description"
      content="Программа для учёта инструментов"
    />
    <link
      rel="image_src"
      href="/static/img/icons/badge.jpg"
      th:href="@{/img/icons/badge.jpg}"
    />
    <meta name="theme-color" content="#179d82" />
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
    <link
      rel="manifest"
      href="/templates/assets/json/manifest.json"
      th:href="@{/templates/assets/json/manifest.json}"
    />
    &ndash;&gt;

    <link
      rel="preload"
      href="../static/fonts/fontawesome/fontawesome-all-css.css"
      as="style"
      th:href="@{/fonts/fontawesome/fontawesome-all-css.css}"
    />
    <link
      rel="preload"
      href="../static/css/style.css"
      as="style"
      th:href="@{/css/style.css}"
    />
    <link
      rel="preload"
      href="../static/css/app.css"
      as="style"
      th:href="@{/css/app.css}"
    />
    <link
      rel="preload"
      href="../static/css/media.css"
      as="style"
      th:href="@{/css/media.css}"
    />
    <link
      rel="preload"
      href="../static/css/checkout.css"
      as="style"
      th:href="@{/css/checkout.css}"
    />
    <link
      rel="preload"
      href="../static/css/main.css"
      as="style"
      th:href="@{/css/main.css}"
    />

    <link
      rel="stylesheet"
      href="../static/fonts/webfonts/fa-solid-900.ttf"
      th:href="@{/fonts/webfonts/fa-solid-900.ttf}"
    />
    <link
      rel="stylesheet"
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/app.css"
      th:href="@{/css/app.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/media.css"
      th:href="@{/css/media.css}"
    />
    <link
      rel="stylesheet"
      href=".../static/css/animation-iror.css"
      th:href="@{/css/animation-iror.css}"
    />
    <link
      rel="stylesheet"
      href="../static/fonts/fontawesome/fontawesome.css"
      th:href="@{/fonts/fontawesome/fontawesome.css}"
    />
    <link
      rel="stylesheet"
      href="../static/fonts/fontawesome/fontawesome-all-css.css"
      th:href="@{/fonts/fontawesome/fontawesome-all-css.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/checkout.css"
      th:href="@{/css/checkout.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/main.css"
      th:href="@{/css/main.css}"
    />

    <script
      src="/static/fonts/fontawesome/all.js"
      th:src="@{/fonts/fontawesome/all.js}"
    ></script>

    <script src="/static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"
      th:src="@{/js/jquery.modal.js}"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
      th:href="@{/css/jquery.modal.css}"
    /> -->
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav role="navigation" class="navbar navbar-admin navbar-fixed-top"
                     th:insert="fragments/header_logout.html"></nav>
                <main class="wrapper wrapper-content border-bottom">
                    <div class="b-overlay-wrap position-relative">
                        <div class="form-creat mb-3 col-12">
                            <div class="btn-pimary__groups-wrapper mb-3">
                                <div class="mb-3 text-right">
                                    <span class="btn-pimary__groups_title">Оборудование</span>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="/tools" class="btn btn-primary width my-yellow">Назад</a>
                                </div>
                            </div>
                            <form th:action="@{/tools/edit/{id}(id=${tool.id})}" method="post" th:object="${tool}">
                                <input type="text" hidden="hidden" th:value="${tool.project}" th:field="*{project}"/>
                                <div class="p-3 edit-container d-block col-8 col-md-12">
                                    <div class="row form-creat__half-wrapp">
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Наименование</label>
                                                <input id="name" th:field="*{name}" th:value="${tool.name}" name="name"
                                                       type="text" class="form-control"
                                                       placeholder="Введите наименование"/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Владелец</label>
                                                <select id="select_type_tool" th:field="*{owner}" name="owner"
                                                        class="vs__selected-options main-secect__opions form-control select my-select">
                                                    <option class="vs__selected vs__dropdown-toggle" value="" disabled>
                                                        Выберите владельца
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="owner : ${list_owners}"
                                                            th:value="${owner.id}"
                                                            th:text="${owner.name}"
                                                            th:selected="${owner.id==tool.owner.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Наименование в смете</label>
                                                <select th:field="*{estimateName}"
                                                        class="vs__selected-options main-secect__opions form-control select my-select">
                                                    <option class="vs__selected vs__dropdown-toggle" value="" disabled>
                                                        Выберите наименование
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="estimateNameDTO : ${list_names_estimate}"
                                                            th:value="${estimateNameDTO.id}"
                                                            th:text="${estimateNameDTO.name}"
                                                            th:selected="${estimateNameDTO.id==tool.estimateName.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Выберите категорию</label>
                                                <select class="vs__selected-options main-secect__opions form-control select my-select"
                                                        name="category" th:field="*{category}" required>
                                                    <option class="vs__selected vs__dropdown-toggle" value="" disabled>
                                                        Выберите категорию
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="category : ${list_category}"
                                                            th:value="${category.id}"
                                                            th:text="${category.name}"
                                                            th:selected="${category.id==tool.category.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Штрих-код</label>
                                                <input id="barcode" th:field="*{barcode}" th:value="${tool.barcode}"
                                                       name="barcode" type="text" class="form-control"
                                                       placeholder="Введите штрих-код"/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Модель</label>
                                                <input th:field="*{model}" th:value="${tool.model}" name="model"
                                                       type="text" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Серийный номер</label>
                                                <input th:field="*{serialNumber}" th:value="${tool.serialNumber}"
                                                       name="serialNumber"
                                                       type="text" class="form-control"
                                                       aria-describedby="item-human-passport_serial"/>
                                            </div>
                                        </div>
                                        <div role="group" class="form-group">
                                            <label class="d-block size">Выберите раздел сметы</label>
                                            <select class="vs__selected-options main-secect__opions form-control select my-select"
                                                    th:field="*{section}" required>
                                                <option class="vs__selected vs__dropdown-toggle" value="" disabled>
                                                    Выберите раздел сметы
                                                </option>
                                                <option class="vs__selected vs__dropdown-toggle"
                                                        th:each="section : ${T(wns.constants.EstimateSection).values()}"
                                                        th:value="${section}"
                                                        th:text="${section.getValue()}"
                                                        th:selected="${section==tool.section}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-creat__half-wrapp">
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Статус</label>
                                                <input type="text" hidden="hidden" th:value="${tool.status}"
                                                       th:field="*{status}"/>
                                                <select id="select_status_tool" name="status_tool"
                                                        class="vs__selected-options main-secect__opions form-control my-select">
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:field="*{status.statusTools}" value="" disabled>
                                                        Выберите статус
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="status_tool : ${T(wns.constants.StatusTools).values()}"
                                                            th:value="${status_tool}"
                                                            th:text="${status_tool.getValue()}"
                                                            th:selected="${status_tool == tool.status.statusTools}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Характеристики</label>
                                                <input th:field="*{characteristics}" th:value="${tool.characteristics}"
                                                       name="characteristics" type="text" class="form-control"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Состояние</label>
                                                <input th:field="*{state}" th:value="${tool.state}"
                                                       name="state" type="text" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Комплект</label>
                                                <input th:field="*{equip}" th:value="${tool.equip}"
                                                       name="equip" type="text" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Комментарий</label>
                                                <input name="comment" type="text" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div class="form-group">
                                                <label class="d-block size">Дата создания</label>
                                                <div class="vdpComponent vdpWithInput">
                                                    <input th:field="*{creating}"
                                                           th:value="${#temporals.format(tool.creating, 'yyyy-MM-dd')}"
                                                           name="creating" type="date" placeholder="дд.мм.гггг"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div class="form-group">
                                                <label class="d-block size">Загрузите ваши фотографии на сервер</label>
                                                <textarea th:field="*{photos}" th:value="${tool.photos}" name="photos"
                                                          class="form-control" id="note_individual"
                                                          style="height: 40px"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 edit-container d-block col-8 col-md-12">
                                    <div class="row form-creat__half-wrapp">
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Себестоимость</label>
                                                <input th:field="*{costPrice}" th:value="${tool.costPrice}"
                                                       name="costPrice" type="text" class="form-control" placeholder=""
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Цена за сутки</label>
                                                <input th:field="*{priceByDay}" th:value="${tool.priceByDay}"
                                                       name="priceByDay"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       type="text" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход с оборудования</label>
                                                <input th:field="*{incomeFromTools}" th:value="${tool.incomeFromTools}"
                                                       name="incomeFromTools"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       type="text" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Цена продажи</label>
                                                <input th:field="*{priceSell}" th:value="${tool.priceSell}"
                                                       name="priceSell"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       type="text" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход с продажи</label>
                                                <input th:field="*{incomeSales}" th:value="${tool.incomeSales}"
                                                       name="incomeSales" type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход инвестора (%)</label>
                                                <input th:field="*{incomeInvestorProcents}"
                                                       th:value="${tool.incomeInvestorProcents}"
                                                       name="incomeInvestorProcents" type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-creat__half-wrapp">
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход инвестора</label>
                                                <input th:field="*{incomeInvestor}" th:value="${tool.incomeInvestor}"
                                                       name="incomeInvestor" type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Сумма ремонта</label>
                                                <input th:field="*{repairAmount}" th:value="${tool.repairAmount}"
                                                       name="repairAmount"
                                                       type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Кол-во отработанных смен</label>
                                                <input th:field="*{numberWorkingShifts}"
                                                       th:value="${tool.numberWorkingShifts}"
                                                       name="numberWorkingShifts"
                                                       type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Цена на субаренду</label>
                                                <input th:field="*{priceSublease}" th:value="${tool.priceSublease}"
                                                       name="priceSublease"
                                                       type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Плата за субаренду</label>
                                                <input th:field="*{paymentSublease}" th:value="${tool.paymentSublease}"
                                                       name="paymentSublease"
                                                       type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доп.доход</label>
                                                <input th:field="*{incomeAdditional}"
                                                       th:value="${tool.incomeAdditional}"
                                                       name="incomeAdditional" type="text"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                       class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-4 col-4 save-btn">
                                    <button type="submit" id="save_client"
                                            class="btn btn-lg btn-primary btn-primary_save w-100 my-green">
                                        Обновить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div th:insert="fragments/footer.html"></div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>
