<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head class="head">
    <title>Владельцы - Редактирование</title>
    <div th:replace="fragments/head :: header"></div>

    <!-- <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="" />
    <meta property="og:url" content="https://site.ru" />
    <meta property="og:title" content="MAD DOG" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="442" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="Site-name" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Andrey" />
    <meta name="description" content="MAD DOG" />
    <meta name="keywords" content="MAD DOG" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:title"
      content="MAD DOG - сервис для учета и автоматизации проката"
    />
    <meta
      property="og:image"
      content="assets/img/icons/badge.jpg"
      th:src="@{/img/icons/badge.jpg}"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta
      property="og:description"
      content="Программа для учёта инструментов"
    />
    <link
      rel="image_src"
      href="/static/img/icons/badge.jpg"
      th:href="@{/img/icons/badge.jpg}"
    />
    <meta name="theme-color" content="#179d82" />
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />

    <link
      rel="preload"
      href="../static/fonts/fontawesome/fontawesome-all-css.css"
      as="style"
      th:href="@{/fonts/fontawesome/fontawesome-all-css.css}"
    />
    <link
      rel="preload"
      href="../static/css/style.css"
      as="style"
      th:href="@{/css/style.css}"
    />
    <link
      rel="preload"
      href="../static/css/app.css"
      as="style"
      th:href="@{/css/app.css}"
    />
    <link
      rel="preload"
      href="../static/css/media.css"
      as="style"
      th:href="@{/css/media.css}"
    />
    <link
      rel="preload"
      href="../static/css/checkout.css"
      as="style"
      th:href="@{/css/checkout.css}"
    />
    <link
      rel="preload"
      href="../static/css/main.css"
      as="style"
      th:href="@{/css/main.css}"
    />

    <link
      rel="stylesheet"
      href="../static/fonts/webfonts/fa-solid-900.ttf"
      th:href="@{/fonts/webfonts/fa-solid-900.ttf}"
    />
    <link
      rel="stylesheet"
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/app.css"
      th:href="@{/css/app.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/media.css"
      th:href="@{/css/media.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/animation-iror.css"
      th:href="@{/css/animation-iror.css}"
    />
    <link
      rel="stylesheet"
      href="../static/fonts/fontawesome/fontawesome.css"
      th:href="@{/fonts/fontawesome/fontawesome.css}"
    />
    <link
      rel="stylesheet"
      href="../static/fonts/fontawesome/fontawesome-all-css.css"
      th:href="@{/fonts/fontawesome/fontawesome-all-css.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/checkout.css"
      th:href="@{/css/checkout.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/main.css"
      th:href="@{/css/main.css}"
    />

    <script
      src="/static/fonts/fontawesome/all.js"
      th:src="@{/fonts/fontawesome/all.js}"
    ></script>

    <script src="/static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"
      th:src="@{/js/jquery.modal.js}"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
      th:href="@{/css/jquery.modal.css}"
    /> -->
  </head>

  <body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
      <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
          <div class="rih-page-wrapper">
             <nav role="navigation" class="navbar navbar-admin navbar-fixed-top" th:insert="fragments/header_logout.html"></nav>
            <main class="wrapper wrapper-content">
              <div class="b-overlay-wrap position-relative">
                <div class="btn-pimary__groups mt-3 mb-3">
                  <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
                    <div class="mb-3 text-right">
                      <span class="btn-pimary__groups_title">Владелец</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <form th:action="@{/owners/edit/{id}(id=${owner.id})}" method="post" th:object="${owner}" style="margin: auto; width: 100%">
                    <div class="p-3 col-8 col-md-12 col-sm-6 edit-container d-block" style="margin: 0 auto">
                      <div class="row form-creat__half-wrapp">
                        <div class="form-creat__half_two-column col-12">
                          <label class="d-block font size">Имя владельца</label>
                          <div class="vdpComponent vdpWithInput">
                            <input class="form-control" th:value="${owner.name}" th:field="*{name}" required
                              type="text" placeholder="Наименование в смете"/>
                          </div>
                        </div>
                      </div>
                      <div class="row form-creat__half-wrapp">
                        <div class="form-creat__half_two-column">
                          <div role="group" class="form-group">
                            <div class="row form-creat__half-wrapp">
                                <div role="group" class="form-group">
                                  <label class="d-block font">Код</label>
                                  <div class="vdpComponent vdpWithInput">
                                    <input class="form-control" required type="text" th:field="*{code}" th:value="${owner.code}" placeholder="Код"/>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4 mb-4 col-6 save-btn">
                      <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary width btn-add_vidacha my-green">
                          Обновить
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="mb-3 text-center">
                  <form th:action="@{/owners/delete/{id}(id=${owner.id})}" method="post">
                    <button type="submit" class="btn btn-primary width btn-add_vidacha my-red">
                      Удалить владельца
                    </button>
                  </form>
                </div>
              </div>
            </main>
            <div th:insert="fragments/footer.html"></div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="fragments/scripts.html"></div>
  </body>
</html>
