<div class="popup">
  <div class="popup-bg outer-btn-popup">
    <div class="popup">
      <span class="close-popup">
        <svg viewBox="0 0 512 512" width="100" title="window-close">
          <path
            d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z"
          />
        </svg>
      </span>
      <div class="b-overlay-wrap position-relative">
        <div class="btn-pimary__groups mt-3 mb-3">
          <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
            <div class="mb-3 text-right">
              <span class="btn-pimary__groups_title">Проект</span>
            </div>
            <div class="mb-3 text-right">
              <a href="#" class="btn btn-primary width my-green">Выдать</a>
            </div>
            <div class="mb-3 text-right">
              <a href="#" class="btn btn-primary width my-green">Принять</a>
            </div>
            <div class="mb-3 text-right">
              <a href="#" class="btn btn-primary width my-yellow">Журнал</a>
            </div>
            <div class="mb-3 text-right">
              <a href="#" class="btn btn-primary width my-yellow">Документы</a>
            </div>
            <div class="mb-3 text-right">
              <a href="#" class="btn btn-primary width my-red">Назад</a>
            </div>
          </div>
        </div>

        <div class="tab-content">
          <div class="form-creat mb-3 col-12">
            <div class="p-3 col-8 col-md-12">
              <div class="row form-creat__half-wrapp">
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Наименование проекта</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Статус</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Начало</label>
                    <div class="vdpComponent vdpWithInput">
                      <input required="" type="date" placeholder="дд.мм.гггг" />
                    </div>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Окончание</label>
                    <div class="vdpComponent vdpWithInput">
                      <input required="" type="date" placeholder="дд.мм.гггг" />
                    </div>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Примечание</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Фотографии</label>
                    <span>
                      <textarea
                        value="[]"
                        name="photos"
                        class="form-control"
                        style="height: 40px"
                      >
[]</textarea
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="row form-creat__half-wrapp">
                <div role="group" class="form-group">
                  <label class="d-block">Дата создания</label>
                  <div class="vdpComponent vdpWithInput">
                    <input
                      required=""
                      type="date"
                      name="dateCreating"
                      value=""
                      placeholder="Текущее дата и время"
                    />
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Время создания</label>
                    <div class="vdpComponent vdpWithInput">
                      <input
                        required=""
                        type="time"
                        value=""
                        placeholder="Текущее дата и время"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Сотрудник</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Контакт</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Телефон</label>
                    <div class="vdpComponent vdpWithInput">
                      <input
                        required=""
                        name="phoneNumber"
                        value=""
                        class="form-control"
                        placeholder="+7-999-99-99"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Скидка</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div class="form-creat mb-3 col-12">
            <div class="p-3 edit-container d-block col-8 col-md-12">
              <div class="row form-creat__half-wrapp">
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Сумма</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Сумма со скидкуй</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Стоимость оборудования</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Стоимость работ</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row form-creat__half-wrapp">
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Скидка на проект</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Оплачено</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Остаток</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Скидка</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="form-creat__half_two-column">
                  <div role="group" class="form-group">
                    <label class="d-block">Итоговая УСН</label>
                    <span>
                      <span
                        type="text"
                        class="vdatetime-input form-control span-input_repair"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="custom-ll__table table-responsive mb-3">
          <table
            class="table w-100 in4dr-form delivery h-table w-table transparent"
          >
            <tbody>
              <tr>
                <th class="first-th">№</th>
                <th>Наименование</th>
                <th>Штрих код</th>
                <th>Группа</th>
                <th>Марка/Модель</th>
                <th>Серийный номер</th>
              </tr>
              <tr>
                <td data-label="№" class="column-table">1</td>
                <td data-label="Наименование">Magic Arm</td>
                <td data-label="Штрихкод">2200011</td>
                <td data-label="Группа">220 Gear</td>
                <td data-label="Марка\Модель"></td>
                <td data-label="Серийный номер"></td>
              </tr>
              <tr>
                <td data-label="№" class="column-table">1</td>
                <td data-label="Наименование">Magic Arm</td>
                <td data-label="Штрихкод">2200011</td>
                <td data-label="Группа">220 Gear</td>
                <td data-label="Марка\Модель"></td>
                <td data-label="Серийный номер"></td>
              </tr>
              <tr>
                <td data-label="№" class="column-table">1</td>
                <td data-label="Наименование">Magic Arm</td>
                <td data-label="Штрихкод">2200011</td>
                <td data-label="Группа">220 Gear</td>
                <td data-label="Марка\Модель"></td>
                <td data-label="Серийный номер"></td>
              </tr>
              <tr>
                <td data-label="№" class="column-table">1</td>
                <td data-label="Наименование">Magic Arm</td>
                <td data-label="Штрихкод">2200011</td>
                <td data-label="Группа">220 Gear</td>
                <td data-label="Марка\Модель"></td>
                <td data-label="Серийный номер"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pagination-control col-lg-12 order-lg-1">
          <!-- Bootstrap 4 -->
          <nav aria-label="Навигация по страницам">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link-m page-link" href="#"> Первая </a>
              </li>
              <li class="page-item disabled">
                <a
                  class="page-link-m page-link"
                  href="#"
                  aria-label="Предыдущая"
                >
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">Предыдущая</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link-m page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link-m page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link-m page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a
                  class="page-link-m page-link"
                  href="#"
                  aria-label="Следующая"
                >
                  <span aria-hidden="true">»</span>
                  <span class="sr-only">Следующая</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link-m page-link" href="#"> Последняя </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
