@font-face {
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-weight: normal;
    src: url("/dist/static/fonts/fontawesome/Ubuntu-Regular.woff2") format('woff2');
    src: url("/dist/static/fonts/fontawesome/Ubuntu-Regular.woff2") format('woff');
}

body {
    font-size: 0;
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Regular;
}

/* quick styles */
.d-flex {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.f-size_14 {
    font-size: 14px;
}

.pad-0_3 {
    padding: 0 3%;
}

.mar-tp_1 {
    margin-top: 1%;
}

.mar-bt_1 {
    margin-bottom: 1%;
}
/* quick styles end */


/* wrapper */
.projects_wrapper {
    height: 100vh;
    width: 100%;
}

.projects_wrapper__main {
    flex-direction: row;
    width: 100%;
    height: 100%;
}
/* wrapper end */


/* navigation logo */
.main_navigation {
    flex: 11%;
    flex-direction: column;
    background: #16171a;
}

.main_navigation__logo {
    height: 10%;
    padding-left: 3%;
    text-decoration: none;
}

.main_navigation__logo_image {
    width: 40%;
    align-items: center;
    align-self: center;
}

.logo_image__svg {
    height: 85%;
    width: 85%;
}

.main_navigation__logo_text {
    width: 60%;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    color: #fcfcfd;
}
/* navigation logo end */


/* navigation menu */
.main_navigation__menu {
    height: 50%;
    flex-direction: column;
    background: #16171a;
    font-size: 16px;
    font-weight: bold;
}

.main_navigation__menu_item {
    flex: 10%;
    text-decoration: none;
    padding-left: 2%;
}

.menu_item__icon {
    flex: 20%;
    align-self: center;
    text-align: right;
}

.menu_item__icon_svg {
    width: 40%;
    background: #16171a;
    color: #a7b1c2;
}

.menu_item__text {
    flex: 80%;
    align-self: center;
    padding-left: 2%;
    color: #fcfcfd;
}
/* navigation menu end */


/* main */
.main_general {
    flex: 88%;
    background-image: url('../img/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5%;
}

.main_general__content {
    flex-direction: column;
    width: 100%;
}
/* main end */


/* general content */
.main_general__content_article {
    flex: 97%;
    flex-direction: column; 
    overflow-x: auto;
}

.content_article__name {
    flex: 5%;
    font-size: 22px;
    justify-content: center;
}

.content_article__name_text {
    margin-right: 1%;
    align-items: center;
    font-weight: bold;
}


/* form */
.content_article__form {
    flex: 85%;
    font-size: 18px;
}


/* form_up */
.content_article__form_group_up {
    flex: 10%;
}

/* form_up_left */
.form_group_up__left {
    flex: 50%;
    width: 100%;
}

.form_group_up__left_item {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    margin-bottom: 1%;
}

.left_item__text {
    margin-bottom: 1%;
}
/* form_up_left end */

/* form_up_right */
.form_group_up__right {
    flex: 50%;
    width: 100%;
}

.form_group_up__right_item {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
    margin-bottom: 0.5%;
}

.form_group_up__right_item__link {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 2.5%;
    height: 7%;
    background: #7ed957;
    border-color: #7ed957;
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5%;
}

.form_group_up__right_item__link:hover {
    background: #777e91;
}

.right_item__link {
    text-decoration: none;
    color: black;
}

.right_item__link:hover {
    color: white;
}

.form_group_up__right_item__other {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 95%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.right_item__other_text {
    margin-right: 2%;
}

.right_item__other_input {
    width: 70%;
}

.right_item__left {
    flex: 48%;
}

.right_item__right {
    flex: 48%;
}
/* form_up_right end */
/* form_up end */


/* form_buttons */
.content_article__form_buttons {
    flex: 20%;
    flex-direction: column;
    align-items: center;
}

.form_buttons__send {
    width: 10%;
    height: 8%;
    background: #7ed957;
    color: black;
    border-color: #7ed957;
    border-radius: 10px;
    font-size: 18px;
}

.form_buttons__send:hover {
    background: #777e91;
    color: white;
    border-color: #777e91;
    cursor: pointer;
}

.form_buttons__send_red {
    width: 15%;
    height: 8%;
    background: red;
    color: black;
    border-color: red;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 1%;
}

.form_buttons__send_red:hover {
    background: #777e91;
    color: white;
    border-color: #777e91;
    cursor: pointer;
}
/* form_buttons end */



/* footer */
.main_general__content_footer {
    flex: 4%;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
}
/* footer end */