@font-face {
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-weight: normal;
    src: url("/dist/static/fonts/fontawesome/Ubuntu-Regular.woff2") format('woff2');
    src: url("/dist/static/fonts/fontawesome/Ubuntu-Regular.woff2") format('woff');
}

body {
    font-size: 0;
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Regular;
}

/* quick styles */
.d-flex {
    display: flex;
}

.f-size_14 {
    font-size: 14px;
}

.pad-0_3 {
    padding: 0 3%;
}
/* quick styles end */


/* wrapper */
.projects_wrapper {
    height: 100vh;
    width: 100%;
}

.projects_wrapper__main {
    flex-direction: row;
    width: 100%;
    height: 100%;
}
/* wrapper end */


/* navigation logo */
.main_navigation {
    flex: 11%;
    flex-direction: column;
    background: #16171a;
}

.main_navigation__logo {
    height: 10%;
    padding-left: 3%;
    text-decoration: none;
}

.main_navigation__logo_image {
    width: 40%;
    align-items: center;
    align-self: center;
}

.logo_image__svg {
    height: 85%;
    width: 85%;
}

.main_navigation__logo_text {
    width: 60%;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    color: #fcfcfd;
}
/* navigation logo end */


/* navigation menu */
.main_navigation__menu {
    height: 50%;
    flex-direction: column;
    background: #16171a;
    font-size: 16px;
    font-weight: bold;
}

.main_navigation__menu_item {
    flex: 10%;
    text-decoration: none;
    padding-left: 2%;
}

.menu_item__icon {
    flex: 20%;
    align-self: center;
    text-align: right;
}

.menu_item__icon_svg {
    width: 40%;
    background: #16171a;
    color: #a7b1c2;
}

.menu_item__text {
    flex: 80%;
    align-self: center;
    padding-left: 2%;
    color: #fcfcfd;
}
/* navigation menu end */


/* main */
.main_general {
    flex: 88%;
    background-image: url('../img/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5%;
}

.main_general__content {
    flex-direction: column;
    width: 100%;
}
/* main end */



.main_general__content_article {
    flex: 97%;
    flex-direction: column;
    font-size: 18px;
}

.content_article__buttons {
    flex: 5%;
    font-size: 22px;
    justify-content: center;
}

.content_article__buttons_text {
    font-weight: bold;
    margin-right: 1%;
    align-items: center;
}

.content_article__buttons_back {
    font-size: 16px;
    width: 4%;
    height: 40%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #ffde59;
    border-radius: 10px;
    color: black;
}

.content_article__buttons_back:hover {
    background: #777e91;
    color: white;
}


.content_article__form {
    flex: 25%;
    flex-direction: column;
}

.content_article__form_block {
    width: 100%;
    justify-content: space-around;
}

.content_article__form_title {
    flex-direction: column;
    width: 40%;
}

.form_title__text {
    margin-bottom: 2%;
}

.form_title__input {
    width: 95%;
    font-size: 14px;
    text-align: center;
    height: 2em;
}


.content_article__form_group {
    flex-direction: column;
    width: 40%;
}

.form_group__text {
    margin-bottom: 2%;
}

.form_group__select {
    width: 90%;
    font-size: 14px;
    text-align: center;
    color: #333;
    height: 2.5em;
    cursor: pointer;
}


.content_article__form_button {
    margin-top: 2%;
    height: 20%;
    justify-content: center;
}

.form_button__submit {
    font-size: 16px;
    width: 7.5%;
    height: 70%;
    align-items: center;
    padding-left: 1.2%;
    background: #7ed957;
    border-color: #7ed957;
    border-radius: 10px;
    cursor: pointer;
}

.form_button__submit:hover {
    background: #777e91;
    border-color: #777e91;
    color: white;
}


.content_article__tab {
    flex: 45%;
    flex-direction: column;
    margin-bottom: 2%;
    overflow-x: auto;
    
}

.content_article__tab_table {
    width: 100%;
    border-collapse: collapse;
}

.tab_table__name {
    text-align: center;
}

.tab_table__pos {
    background: white;
    border: 1px solid black;
    height: 5vh;
}

.tab_table__line {
    text-align: center;
}

.tab_table__col {
    background: white;
    border: 1px solid black;
    height: 5vh;
}





/* footer */
.main_general__content_footer {
    flex: 3%;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
}
/* footer end */