@font-face {
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-weight: normal;
    src: url("/dist/static/fonts/fontawesome/Ubuntu-Regular.woff2") format('woff2');
    src: url("/dist/static/fonts/fontawesome/Ubuntu-Regular.woff2") format('woff');
}

body {
    font-size: 0;
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Regular;
}

/* quick styles */
.d-flex {
    display: flex;
}

.f-size_14 {
    font-size: 14px;
}

.pad-0_3 {
    padding: 0 3%;
}
/* quick styles end */


/* wrapper */
.projects_wrapper {
    height: 100vh;
    width: 100%;
}

.projects_wrapper__main {
    flex-direction: row;
    width: 100%;
    height: 100%;
}
/* wrapper end */


/* navigation logo */
.main_navigation {
    flex: 11%;
    flex-direction: column;
    background: #16171a;
}

.main_navigation__logo {
    height: 10%;
    padding-left: 3%;
    text-decoration: none;
}

.main_navigation__logo_image {
    width: 40%;
    height: 80%;
    align-items: center;
    align-self: center;
}

.logo_image__svg {
    height: 85%;
    width: 85%;
}

.main_navigation__logo_text {
    width: 60%;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    color: #fcfcfd;
}
/* navigation logo end */


/* navigation menu */
.main_navigation__menu {
    height: 50%;
    flex-direction: column;
    background: #16171a;
    font-size: 16px;
    font-weight: bold;
}

.main_navigation__menu_item {
    flex: 10%;
    text-decoration: none;
    padding-left: 2%;
}

.menu_item__icon {
    flex: 20%;
    align-self: center;
    text-align: right;
}

.menu_item__icon_svg {
    width: 40%;
    background: #16171a;
    color: #a7b1c2;
}

.menu_item__text {
    flex: 80%;
    align-self: center;
    padding-left: 2%;
    color: #fcfcfd;
}
/* navigation menu end */


/* main */
.main_general {
    flex: 88%;
    background-image: url('../img/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5%;
    overflow-y: hidden;
}

.main_general__content {
    flex-direction: column;
    width: 100%;
}
/* main end */

/* buttons */
.main_general__content_buttons {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    flex: 7%;
}

.content_buttons__create {
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 50%;
    background: #7ed957;
    color: black;
    border-color: #7ed957;
    border-radius: 10px;
    text-decoration: none;
    margin-right: auto;
}

.content_buttons__create:hover {
    background: #777e91;
    color: white;
    border-color: #777e91;
}

.content_buttons__other {
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 50%;
    background: #ffde59;
    color: black;
    border-color: #ffde59;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 2%;
}

.content_buttons__other:last-child {
    margin-right: auto;
}

.content_buttons__other:hover {
    background: #777e91;
    color: white;
    border-color: #777e91;
}
/* buttons end */


/* search */
.main_general__content_search {
    flex: 7%;
    flex-direction: column;
}

.content_search__text {
    font-size: 18px;
}

.content_search__input {
    margin-top: 0.5%;
    height: 45%;
    width: 15%;
    text-align: center;
}
/* search end */


/* actions */
.main_general__content_actions {
    font-size: 16px;
    flex: 7%;
    align-items: center;
}

.content_actions__text {
    font-size: 18px;
    margin-right: 1%;
}

.content_actions__buttons {
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 50%;
    background: #ffde59;
    color: black;
    border-color: #ffde59;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 2%;
}

.content_actions__buttons:hover {
    background: #777e91;
    color: white;
    border-color: #777e91;
    
}
/* actions end */


/* table */
.main_general__content_table {
    flex: 75%;
    width: 90%;
    flex-direction: column;
    font-size: 14px;
    overflow-x: auto;
    overflow-y: auto;
}

.content_table__info {
    border-collapse: collapse;
}

.content_table__info_name {
    text-align: center;
}

.content_table__info_pos {
    background: white;
    border: 1px solid black;
}

#ids_tools {
    display: flex;
}

.tool_id {
    align-self: center;
}

.content_table__info_line {
    text-align: center;
}

.content_table__info_column {
    border: 1px solid black;
}

.info_column__img1 {
    display: block;
    height: 100%;
    width: 100%;
}

.info_column__img2 {
    display: block;
    height: 100%;
    width: 100%;
}
.row_hidden {
    display: none;
}

/* table end */


/* footer */
.main_general__content_footer {
    flex: 4%;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
}
/* footer end */