<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="utf-8">
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/static/css/admin.css}">
	<title>Панель администратора</title>
</head>
<body>
    <div class="projects_wrapper d-flex">
        <div class="projects_wrapper__main d-flex">
            <div th:replace="fragments/menu_sidebar.html"></div>
            <div class="main_general d-flex">
                <div class="main_general__content d-flex">
                    <div class="main_general__content_panel d-flex f-size_14 pad-0_3">
                        <div class="content_panel__name d-flex">
                            Панель администратора
                        </div>
                        <div class="content_panel__text d-flex">
                            Ввод данных
                        </div>

                        <form th:action="@{/admin-panel/create}" method="post" th:object="${user}" class="content_panel__form d-flex">
                            <div class="content_panel__form_item d-flex">                        
                                <label class="form_item__text">
                                    Укажите логин для нового пользователя
                                </label>
                                <input class="form_item__input" type="text" placeholder="Введите логин" th:field="*{username}" required>
                            </div>
                            <div class="content_panel__form_item d-flex">                            
                                <label class="form_item__text">
                                    Укажите пароль для нового пользователя
                                </label>
                                <input class="form_item__input" type="password" placeholder="Введите пароль" th:field="*{password}" required>
                            </div>
                            <div class="content_panel__form_item d-flex">
                                <label class="form_item__text">
                                    Укажите ФИО для нового пользователя
                                </label>
                                <input class="form_item__input" type="text" placeholder="Введите ФИО" th:field="*{fullName}" required>
                            </div>
                            <div class="content_panel__form_item d-flex">
                                <label class="form_item__text">
                                    Укажите номер телефона для нового пользователя
                                </label>
                                <input class="form_item__input" type="text" placeholder="Введите номер телефона" th:field="*{phoneNumber}" required>
                            </div>
                            <div class="form_item__checkbox d-flex">
                                <label class="form_item__checkbox_text">
                                    Выберите роль
                                </label>
                                <div class="form_item__checkbox_select">
                                <select id="roles" th:field="*{roles}" class="checkbox_select__input" required>
                                    <option value="" disabled>
                                    Выберите роль
                                    </option>
                                    <option th:each="role : ${roles}"
                                            th:value="${role.getValue()}"
                                            th:text="${role}">
                                    </option>
                                </select>
                                </div>
                            </div>
                            <div class="form_item__button">
                              <input class="form_item__button_input" type="submit" value="Зарегистрировать">
                            </div>
                          </form>
                    </div>
                    <div class="main_general__content_table d-flex pad-0_3">
                        <table class="content_table__info">
                            <tr class="content_table__info_name">
                                <th class="content_table__info_pos">Логин</th>
                                <th class="content_table__info_pos">ФИО</th>
                                <th class="content_table__info_pos">Роль</th>
                            </tr>
                            <tr class="content_table__info_line" th:each="userDTO : ${users}">
                                <td class="content_table__info_column">
                                    <a th:href="@{/admin-panel/edit/{id}/(id=${userDTO.getId()})}"
                                       th:utext="${userDTO.username}">
                                    </a>
                                </td>
                                <td class="content_table__info_column" th:utext="${userDTO.fullName}"></td>
                                <td class="content_table__info_column" th:utext="${userDTO.roles}"></td>
                            </tr>
                        </table>
                    </div>
                    <div th:insert="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>