<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/static/css/authorization.css}">
    <title>Авторизация</title>
</head>
<body>
<div class="wrapper d-flex">
    <a href="/" class="login_left__panel d-flex">
        <img th:src="@{/dist/static/img/logo/panel-logo2x.webp}" class="login_left__panel_img">
        <div class="login_left__panel_text">MAD DOG</div>
    </a>
    <div>
        <span th:if="${param.loginError!=null}"
              th:text="'Вы ввели неправильный логин/пароль'">
        </span>
    </div>
    <div class="login_right__panel d-flex">
        <form class="login_right__panel_form d-flex fd_col" th:action="@{/login}" method="post">
            <div class="panel_form__text d-flex">
                ВХОД В СИСТЕМУ
            </div>
            <div class="panel_form__input d-flex fd_col">
                <div class="panel_form__input_login d-flex fd_col">
                    <label class="input_login__text d-flex">Логин*</label>
                    <input class="input_login__input d-flex" type="text" name="username"
                           placeholder="Можете ввести свой логин, телефон или почту..." autocomplete="on" required>
                </div>
                <div class="panel_form__input_password d-flex fd_col"></div>
                <label class="input_password__text">Пароль*</label>
                <input class="input_password__input" type="password" name="password"
                       placeholder="Введите свой пароль..." autocomplete="on" required>
            </div>
            <div class="panel_form__input_button d-flex">
                <input class="input_button__button" name="submit" type="submit" value="ВХОД">
            </div>
        </form>
    </div>
</div>
</body>
</html>