<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/static/css/category.css}">
    <title>Категории</title>
</head>
<body>
<div class="projects_wrapper d-flex">
    <div class="projects_wrapper__main d-flex">
        <div th:replace="fragments/menu_sidebar.html"></div>
        <div class="main_general d-flex">
            <div class="main_general__content d-flex">
                <div class="main_general__content_article d-flex pad-0_3">
                    <div class="content_article__buttons d-flex">
                        <div class="content_article__buttons_text d-flex">
                            Категории
                        </div>
                        <a href="/tools" class="content_article__buttons_back d-flex">
                            Назад
                        </a>
                    </div>
                    <form th:action="@{/category}" method="post" class="content_article__form d-flex"
                          th:object="${category}">
                        <div class="content_article__form_block d-flex">
                            <div class="content_article__form_item d-flex">
                                <label class="form_title__text">Название категории</label>
                                <input class="form_title__input" th:field="*{name}" required type="text"
                                       placeholder="Название категории">
                            </div>
                            <div class="content_article__form_item d-flex">
                                <label class="form_title__text">Код</label>
                                <input class="form_title__input" th:field="*{code}" required type="text"
                                       placeholder="Код">
                            </div>
                        </div>
                        <div class="content_article__form_button d-flex">
                            <button type="submit" class="form_button__submit d-flex">
                                Сохранить
                            </button>
                        </div>
                    </form>
                    <div class="content_article__tab d-flex">
                        <table class="content_article__tab_table">
                            <tr class="tab_table__name">
                                <th class="tab_table__pos">#</th>
                                <th class="tab_table__pos">Название категории</th>
                                <th class="tab_table__pos">Код</th>
                            </tr>
                            <tr class="tab_table__line" th:each="category : ${list_category}">
                                <td class="tab_table__col">
                                    <input type="hidden" class="id_tool" th:value="${category.id}"/>
                                    <span class="tool_id" th:utext="${categoryStat.index+1}"></span>
                                </td>
                                <td class="tab_table__col">
                                    <a th:href="@{/category/edit/{id}(id=${category.id})}" th:utext="${category.name}"></a>
                                </td>
                                <td class="tab_table__col" th:utext="${category.code}"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="content_article__page d-flex pad-0_3">
                        <nav aria-label="Навигация по страницам">
                            <ul class="pagination">
                                <li class="page-item" th:if="${list_category.totalPages > 0}"
                                    th:each="page_number : ${page_numbers}">
                                    <a class="page-link-m page-link"
                                       th:href="@{/category(size=${list_category.size}, page=${page_numberStat.index}, filter='CATEGORY')}"
                                       th:text="${page_numberStat.index}"
                                       th:class="${page_number==list_category.number + 1} ? active">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>