<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/static/css/clients.css}">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--JQuery-->
    <script type="text/javascript" th:src="@{/dist/static/js/jquery.js}"></script>
    <!-- jQuery Modal -->
    <script type="text/javascript" th:src="@{/dist/static/js/jquery.modal.js}"></script>
    <link rel="stylesheet" th:href="@{/dist/static/css/jquery.modal.css}"/>
    <title>Клиенты</title>
</head>
<body>
    <div class="projects_wrapper d-flex">
        <div class="projects_wrapper__main d-flex">
            <div th:replace="fragments/menu_sidebar.html"></div>
            <div class="main_general d-flex">
                <div class="main_general__content d-flex">
                    <div class="main_general__content_buttons d-flex pad-0_3">
                        <a href="/templates/clients.html" th:href="@{/clients/create}" class="content_buttons__create d-flex">
                            Создать
                        </a>
                    </div>
                    <div class="main_general__content_search d-flex pad-0_3">
                        <input class="content_search__input" type="search" id="barcode_search_input" name="barcode" placeholder="Поиск">
                        <span class="header__search__btn"></span>
                    </div>
                    <div class="main_general__content_filters d-flex pad-0_3">
                        <a href="/clients" class="content_filters__buttons d-flex" style="width: 3%;">
                            Все
                        </a>
                        <a th:href="@{/clients(filter=individual)}" class="content_filters__buttons d-flex">
                            Физ.лица
                        </a>
                        <a th:href="@{/clients(filter=legal)}" class="content_filters__buttons d-flex">
                            Юр.лица
                        </a>
                        <a th:href="@{/clients(filter=blacklist)}" class="content_filters__buttons d-flex" style="width: 8%;">
                            Чёрный список
                        </a>
                    </div>
                    <div class="main_general__content_table d-flex pad-0_3">
                        <table class="content_table__info">
                            <tr class="content_table__info_name">
                                <th class="content_table__info_pos">#</th>
                                <th class="content_table__info_pos">ФИО</th>
                                <th class="content_table__info_pos">Телефон</th>
                                <th class="content_table__info_pos">Скидка</th>
                                <th class="content_table__info_pos">Примечание</th>
                                <th class="content_table__info_pos">Чёрный список</th>
                            </tr>
                            <tr class="content_table__info_line row-tool" th:each="clientDTO : ${list_clients}">
                                <td class="content_table__info_column">
                                    <input type="checkbox" id="" name=""/>
                                    <input hidden="hidden" th:value="${clientDTO.id}"/>
                                    <span  th:utext="${clientDTOStat.index+1}"></span>
                                </td>
                                <td class="content_table__info_column barcode-tool">
                                    <a th:href="@{/clients/edit/{id}/(id=${clientDTO.id})}" th:utext="${clientDTO.fullName}"></a>
                                </td>
                                <td class="content_table__info_column" th:utext="${clientDTO.phoneNumber}"></td>
                                <td class="content_table__info_column" th:utext="${clientDTO.discount}"></td>
                                <td class="content_table__info_column"  th:utext="${clientDTO.note}"></td>
                                <td class="content_table__info_column" th:utext="${clientDTO.inBlackList} ? 'Да' : 'Нет'"></td>
                            </tr>
                        </table>

                        <div class="pagination-control col-lg-12 order-lg-1">
                            <!-- Bootstrap 4 -->
                            <nav aria-label="Навигация по страницам">
                                <ul class="pagination">
                                    <li class="page-item" th:if="${list_clients.totalPages > 0}"
                                        th:each="page_number : ${page_numbers}">
                                        <a class="page-link-m page-link"
                                           th:href="@{/clients(size=${list_clients.size}, page=${page_numberStat.index})}"
                                           th:text="${page_numberStat.index}"
                                           th:class="${page_number==list_clients.number + 1} ? active"></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div th:insert="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/scripts.html"></div>
    <script type="text/javascript" th:src="@{/dist/static/js/SearchBarcode.js}"></script>
</body>
</html>