<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/static/css/edit_tool.css}">
    <title>Редактирование оборудования</title>
</head>
<body>
<div class="projects_wrapper d-flex">
    <div class="projects_wrapper__main d-flex">
        <div th:replace="fragments/menu_sidebar.html"></div>
        <div class="main_general d-flex">
            <div class="main_general__content d-flex">
                <div class="main_general__content_article d-flex pad-0_3">

                    <div class="content_article__buttons d-flex">
                        <div class="content_article__buttons_text d-flex">
                            Оборудование
                        </div>
                        <a href="/tools" class="content_article__buttons_back d-flex">
                            Назад
                        </a>
                    </div>
                    <form th:action="@{/tools/edit/{id}(id=${tool.id})}" method="post" th:object="${tool}"
                          class="content_article__form d-flex fd-col">
                        <div class="content_article__form_group_up d-flex">
                            <div class="form_group_up__left d-flex fd-col">
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Наименование</label>
                                    <input id="name" th:field="*{name}" th:value="${tool.name}" name="name"
                                           type="text" class="up__left_item__input" placeholder="Введите наименование"
                                           required>
                                </div>
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Владелец</label>
                                    <select class="up__left_item__select" th:field="*{ownerId}" name="owner" required>
                                        <option class="up__left_item__option" value="" disabled>
                                            Выберите владельца
                                        </option>
                                        <option class="up__left_item__option"
                                                th:each="owner : ${list_owners}"
                                                th:value="${owner.id}"
                                                th:text="${owner.name}"
                                                th:selected="${owner.id==tool.ownerId}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Наименование в смете</label>
                                    <select th:field="*{estimateName}" class="up__left_item__select" required>
                                        <option class="up__left_item__option" value="" disabled>
                                            Выберите наименование
                                        </option>
                                        <option class="up__left_item__option"
                                                th:each="estimateNameDTO : ${list_names_estimate}"
                                                th:value="${estimateNameDTO.id}"
                                                th:text="${estimateNameDTO.name}"
                                                th:selected="${estimateNameDTO.id==tool.estimateNameId}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Выберите категорию</label>
                                    <select class="up__left_item__select" name="category" th:field="*{categoryId}"
                                            required>
                                        <option class="up__left_item__option" value="" disabled>
                                            Выберите категорию
                                        </option>
                                        <option class="up__left_item__option"
                                                th:each="category : ${list_category}"
                                                th:value="${category.id}"
                                                th:text="${category.name}"
                                                th:selected="${category.id==tool.categoryId}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Штрих-код</label>
                                    <input class="up__left_item__input" placeholder="Введите штрих-код"
                                           th:field="*{barcode}"
                                           th:value="${tool.barcode}" type="text" name="barcode" required id="barcode">
                                </div>
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Модель</label>
                                    <input th:field="*{model}" th:value="${tool.model}" name="model" type="text"
                                           class="up__left_item__input">
                                </div>
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Серийный номер</label>
                                    <input th:field="*{serialNumber}" th:value="${tool.serialNumber}"
                                           name="serialNumber" type="text" class="up__left_item__input">
                                </div>
                                <div class="form_group_up__left_item">
                                    <label class="up__left_item__text">Выберите раздел сметы</label>
                                    <select class="up__left_item__select" th:field="*{section}" required>
                                        <option class="up__left_item__option" value="" disabled>
                                            Выберите раздел сметы
                                        </option>
                                        <option class="up__left_item__option"
                                                th:each="section : ${T(wns.constants.EstimateSection).values()}"
                                                th:value="${section}"
                                                th:text="${section.getValue()}"
                                                th:selected="${section==tool.section}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form_group_up__right d-flex fd-col">
                                <div class="form_group_up__right_item">
                                    <label class="up__right_item__text">Статус</label>
                                    <select id="select_status_tool" name="status_tool" required th:field="*{status}"
                                            class="up__right_item__select">
                                        <option class="up__right_item__option"  value=""
                                                disabled>
                                            Выберите статус
                                        </option>
                                        <option class="up__right_item__option"
                                                th:each="status_tool : ${T(wns.constants.StatusTools).values()}"
                                                th:value="${status_tool}"
                                                th:text="${status_tool.getValue()}"
                                                th:selected="${status_tool == tool.status}"></option>
                                    </select>
                                </div>
                                <div class="form_group_up__right_item">
                                    <label class="up__right_item__text">Характеристики</label>
                                    <input th:field="*{characteristics}" th:value="${tool.characteristics}"
                                           name="characteristics" type="text" class="up__right_item__input">
                                </div>
                                <div class="form_group_up__right_item">
                                    <label class="up__right_item__text">Состояние</label>
                                    <input th:field="*{state}" th:value="${tool.state}"
                                           name="state" type="text" class="up__right_item__input">
                                </div>
                                <div class="form_group_up__right_item">
                                    <label class="up__right_item__text">Комплект</label>
                                    <input th:field="*{equip}" th:value="${tool.equip}"
                                           name="equip" type="text" class="up__right_item__input">
                                </div>
                                <div class="form_group_up__right_item">
                                    <label class="up__right_item__text">Комментарий</label>
                                    <input name="comment" type="text" class="up__right_item__input" th:field="*{comment}">
                                </div>
                                <div class="form_group_up__right_item">
                                    <label class="up__right_item__text">Дата создания</label>
                                    <input th:field="*{creating}"
                                           th:value="${#temporals.format(tool.creating, 'yyyy-MM-dd')}"
                                           name="creating" type="date" class="up__right_item__input"
                                           placeholder="дд.мм.гггг">
                                </div>
                                <div class="form_group_up__right_item">
                                    <label class="up__right_item__text">Загрузите ваши фотографии на сервер</label>
                                    <textarea th:field="*{photos}" th:value="${tool.photos}" name="photos"
                                              id="note_individual" class="up__right_item__textarea"
                                              style="height: 18%"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="content_article__form_group_down d-flex" sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">
                            <div class="form_group_down__left d-flex fd-col">
                                <div class="form_group_down__left_item">
                                    <label class="down__left_item__text">Себестоимость</label>
                                    <input th:field="*{costPrice}" th:value="${tool.costPrice}"
                                           name="costPrice" type="text" class="down__left_item__input" value="0"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"/>
                                </div>
                                <div class="form_group_down__left_item">
                                    <label class="down__left_item__text">Цена за сутки</label>
                                    <input type="text" class="down__left_item__input" th:field="*{priceByDay}"
                                           th:value="${tool.priceByDay}"
                                           name="priceByDay"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                </div>
                                <div class="form_group_down__left_item">
                                    <label class="down__left_item__text">Доход с оборудования</label>
                                    <input type="text" class="down__left_item__input" th:field="*{incomeFromTools}"
                                           th:value="${tool.incomeFromTools}"
                                           name="incomeFromTools"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                </div>
                                <div class="form_group_down__left_item">
                                    <label class="down__left_item__text">Цена продажи</label>
                                    <input type="text" class="down__left_item__input" th:field="*{priceSell}"
                                           th:value="${tool.priceSell}"
                                           name="priceSell"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                </div>
                                <div class="form_group_down__left_item">
                                    <label class="down__left_item__text">Доход с продажи</label>
                                    <input type="text" class="down__left_item__input" th:field="*{incomeSales}"
                                           th:value="${tool.incomeSales}"
                                           name="incomeSales"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                </div>
                                <div class="form_group_down__left_item">
                                    <label class="down__left_item__text">Доход инвестора (%)</label>
                                    <input class="down__left_item__input" th:field="*{incomeInvestorProcents}"
                                           th:value="${tool.incomeInvestorProcents}"
                                           name="incomeInvestorProcents" type="text"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                </div>
                            </div>
                            <div class="form_group_down__right d-flex fd-col">
                                <div class="form_group_down__right_item">
                                    <label class="down__right_item__text">Доход инвестора</label>
                                    <input type="text" class="down__right_item__input" th:field="*{incomeInvestor}"
                                           th:value="${tool.incomeInvestor}"
                                           name="incomeInvestor"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                </div>
                                <div class="form_group_down__right_item">
                                    <label class="down__right_item__text">Сумма ремонта</label>
                                    <input class="down__right_item__input" th:field="*{repairAmount}"
                                           th:value="${tool.repairAmount}"
                                           name="repairAmount"
                                           type="text"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                </div>
                                <div class="form_group_down__right_item">
                                    <label class="down__right_item__text">Кол-во отработанных смен</label>
                                    <input th:field="*{numberWorkingShifts}"
                                           th:value="${tool.numberWorkingShifts}"
                                           name="numberWorkingShifts" type="text" class="down__right_item__input"
                                           value="0">
                                </div>
                                <div class="form_group_down__right_item">
                                    <label class="down__right_item__text">Цена на субаренду</label>
                                    <input th:field="*{priceSublease}" th:value="${tool.priceSublease}"
                                           name="priceSublease" type="text" class="down__right_item__input" value="0">
                                </div>
                                <div class="form_group_down__right_item">
                                    <label class="down__right_item__text">Плата за субаренду</label>
                                    <input th:field="*{paymentSublease}" th:value="${tool.paymentSublease}"
                                           name="paymentSublease" type="text" class="down__right_item__input" value="0">
                                </div>
                                <div class="form_group_down__right_item">
                                    <label class="down__right_item__text">Доп.доход</label>
                                    <input th:field="*{incomeAdditional}"
                                           th:value="${tool.incomeAdditional}"
                                           name="incomeAdditional" type="text" class="down__right_item__input"
                                           value="0">
                                </div>
                            </div>
                        </div>
                        <div class="content_article__form_buttons d-flex">
                            <button type="submit" class="form_buttons__send">
                                Обновить
                            </button>
                        </div>
                    </form>
                </div>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>