<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/dist/static/css/edit_project.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/dist/static/css/datepicker.css}"
    />
    <meta th:name="_csrf" th:content="${_csrf.token}" />
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
    <!--JQuery-->
    <script
      type="text/javascript"
      th:src="@{/dist/static/js/jquery.js}"
    ></script>
    <!-- jQuery Modal -->
    <script
      type="text/javascript"
      th:src="@{/dist/static/js/jquery.modal.js}"
    ></script>
    <link rel="stylesheet" th:href="@{/dist/static/css/jquery.modal.css}" />

    <script th:replace="fragments/scripts.html"></script>
    <script th:src="@{/dist/static/js/calendar.js}"></script>
    <script th:src="@{/dist/static/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/dist/static/js/TotalCounter.js}"></script>
    <script th:src="@{/dist/static/js/SearchBarcode.js}"></script>
    <title>Mad Dog</title>
  </head>
  <body>
    <div class="projects_wrapper d-flex">
      <div class="projects_wrapper__main d-flex">
        <div th:replace="fragments/menu_sidebar.html"></div>
        <div class="main_general d-flex">
          <div class="main_general__content d-flex">
            <div></div>
            <div class="content_article__buttons_up d-flex">
              <div class="buttons_up__text d-flex">Проект</div>
              <a href="/" class="buttons_up__yellow d-flex"> Назад </a>
            </div>

            <div class="content_article__form1 d-flex pad-0_3">
              <div class="content_article__form1_left d-flex fd-col">
                <div class="form1_left__status d-flex fd-col mar-tp_1">
                  <div class="form1_left__name d-flex fd-col mar-tp_1">
                    <label class="form1_left__name_text">Наименование</label>
                    <input
                      id="name"
                      th:value="${project.name}"
                      required
                      name="fromComing"
                      placeholder="Имя проекта"
                      type="text"
                      class="form1_left__input"
                    />
                    <input
                      id="project_id"
                      hidden="hidden"
                      th:value="${project.id}"
                    />
                  </div>
                  <div class="form1_right__owner d-flex fd-col mar-tp_1">
                    <label class="form1_right__owner_text">Тип аренды</label>
                    <select
                      class="form1_right__owner_select"
                      id="typeLease"
                      th:value="${project.typeLease}"
                    >
                      <option
                        class="form1_right__owner_option"
                        th:each="type: ${T(wns.constants.TypeLease).values()}"
                        th:value="${type}"
                        th:text="${type.getType()}"
                        th:selected="${type==project.typeLease}"
                      ></option>
                    </select>
                  </div>
                  <div class="form1_right__class d-flex fd-col mar-tp_1">
                    <label class="form1_right__class_text">Класс</label>
                    <select
                      class="form1_right__class_select"
                      id="classification"
                      th:value="${project.classification}"
                    >
                      <option
                        class="form1_right__class_option"
                        th:each="classification: ${T(wns.constants.ClassificationProject).values()}"
                        th:value="${classification}"
                        th:text="${classification.getValue()}"
                        th:selected="${classification==project.classification}"
                      ></option>
                    </select>
                  </div>
                  <div
                    class="form1_left__worked d-flex fd-col mar-tp_1 vdpComponent vdpWithInput"
                    style="margin-top: 2.3%"
                  >
                    <label class="form1_left__worked_text"
                      >Укажите время занятости</label
                    >
                    <input
                      type="text"
                      class="form1_left__input form-control form-control-date"
                      required
                    />
                  </div>
                  <script type="text/javascript">
                    $(document).ready(function () {
                      $(".form-control-date").datepicker({
                        weekStart: 1,
                        multidate: true,
                        isRTL: false,
                        format: "dd.mm.yyyy",
                        language: "en",
                      });
                    });
                  </script>
                  <div id="working_shift">
                    <div th:each="shift : ${project.workingShifts}">
                      <input
                        class="dateShift"
                        type="text"
                        hidden="hidden"
                        th:value="${shift.dateShift}"
                      />
                      <input
                        class="typeShift"
                        type="text"
                        hidden="hidden"
                        th:value="${shift.typeShift}"
                      />
                    </div>
                  </div>
                  <label>
                    Укажите начало
                    <input
                      th:value="${project.start}"
                      class="form1_left__input form-control"
                      type="datetime-local"
                      id="start"
                    />
                  </label>
                  <label>
                    Укажите окончание
                    <input
                      th:value="${project.end}"
                      type="datetime-local"
                      class="form1_left__input form-control"
                      id="end"
                    />
                  </label>
                </div>
              </div>
              <div class="content_article__form1_right d-flex fd-col">
                <div class="form1_left__photo d-flex fd-col mar-tp_1">
                  <div class="form1_right__client_button">
                    <span class="client_button__text"> Укажите клиента </span>
                    <a
                      href="/clients"
                      title="Добавить Клиентa"
                      class="client_button__link"
                      style="padding-top: 5px"
                    >
                      Новый клиент
                    </a>
                  </div>
                  <select
                    id="client_id"
                    th:value="${project.client.getId()}"
                    required
                    class="form1_right__client_select"
                  >
                    <option
                      class="form1_right__client_option"
                      value=""
                      disabled
                    >
                      Выберите клиента
                    </option>
                    <option
                      class="form1_right__client_option"
                      th:each="client : ${clients}"
                      th:value="${client.id}"
                      th:text="${client.fullName}"
                      th:selected="${client.id==project.client.getId()}"
                    ></option>
                  </select>
                  <label
                    class="d-form1_left__status_text"
                    style="margin-top: 1%"
                    >Статус</label
                  >
                  <select
                    id="status"
                    th:value="${project.status}"
                    class="form1_left__status_select"
                    required=""
                  >
                    <option class="form1_left__status_option" value="" disabled>
                      Выберите статус проекта
                    </option>
                    <option
                      class="form1_left__status_option"
                      th:each="status: ${T(wns.constants.StatusProject).values()}"
                      th:value="${status}"
                      th:text="${status.getStatus()}"
                      th:selected="${status==project.status}"
                    ></option>
                  </select>
                  <label class="form1_left__photo_text" style="margin-top: 1%"
                    >Укажите ссылки на фото через запятую</label
                  >
                  <textarea
                    id="photos"
                    th:text="${''+project.photos}"
                    rows="1"
                    class="form1_left__input"
                    style="height: 9%"
                  ></textarea>
                </div>

                <div class="form1_right__calendar d-flex fd-col">
                  <label class="form1_right__calendar_text">Создан</label>
                  <input
                    id="created"
                    th:value="${project.created}"
                    class="form1_right__input"
                    type="datetime-local"
                    placeholder="дд.мм.гггг"
                  />
                  <script>
                    var date = new Date();
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    var hour = date.getHours();
                    var minutes = date.getMinutes();
                    if (day < 10) day = "0" + day;
                    if (month < 10) month = "0" + month;
                    if (hour < 10) hour = "0" + hour;
                    if (minutes < 10) minutes = "0" + minutes;
                    $("#created").val(
                      year +
                        "-" +
                        month +
                        "-" +
                        day +
                        "T" +
                        hour +
                        ":" +
                        minutes
                    );
                  </script>
                </div>
                <div
                  class="form1_right__client d-flex fd-col"
                  style="margin-top: 0.5%"
                >
                  <div class="form2_left__note d-flex fd-col">
                    <label class="form2_left__note_text">Примечание</label>
                    <textarea
                      id="note"
                      th:value="${project.note}"
                      class="form2_left__input"
                      rows="4"
                      style="height: 14%"
                      placeholder="0"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="content_article__form2 d-flex pad-0_3">
                    <div class="content_article__form2_left d-flex fd-col">
                        <div class="form2_left__price d-flex fd-col mar-bt_1">
                            <label class="d-block size">Себестоимость оборудования</label>
                            <input id="priceTools" th:value="${project.estimate.allByProject}"
                                   type="text" class="form2_left__input" placeholder="0"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"/>
                        </div>
                        <div class="form2_left__discount d-flex fd-col mar-bt_1">
                            <label class="d-block size">Скидка на проект</label>
                            <input id="discountByProject" th:value="${project.estimate.discountByTools}"
                                   type="text" class="form2_left__input" placeholder="0"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"/>
                        </div>
                        <div class="form2_left__amount d-flex fd-col mar-bt_1">
                            <label class="d-block size">Сумма со скидкой</label>
                            <input id="sumWithDiscount"
                                   th:value="${project.estimate.allByProjectWithDiscount}"
                                   type="text" class="form2_left__input" placeholder="0"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"/>
                        </div>

                    </div>
                    <div class="content_article__form2_right d-flex fd-col">
                        <div class="form2_right__price d-flex fd-col mar-bt_1">
                            <label class="d-block size">Итоговая УСН</label>
                            <input id="finalSumUsn" th:value="${project.estimate.finalSumWithUsn}"
                                   type="text" class="form2_right__input" placeholder="0"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"/>
                        </div>
                        <div class="form2_right__price d-flex fd-col mar-bt_1">
                            <label class="d-block size">Итоговая Сумма</label>
                            <input id="sum" th:value="${project.estimate.allByProject}"
                                   type="text" class="form2_right__input" placeholder="0"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"/>
                        </div>
                        <div class="form2_right__discount d-flex fd-col mar-bt_1">
                            <label class="d-block">Стоимость работ</label>
                            <input id="priceWork" th:value="${project.estimate.allByService}"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                   type="text" class="form2_right__input" placeholder="0">
                        </div>
                        <div class="form2_right__amount d-flex fd-col mar-bt_1">
                            <label class="d-block">Оплачено</label>
                            <input id="received" th:value="${project.received}"
                                   type="text" class="form2_right__input" placeholder="0">
                        </div>
                        <div class="form2_right__note d-flex fd-col">
                            <label class="form2_left__note_text">Расчет неоплаченного остатка</label>
                            <textarea id="remainder" th:value="${project.remainder}" class="form2_right__input" rows="4"
                                      style="height: 16%;" placeholder="0"></textarea>
                        </div>
                    </div>
                </div>-->
            <div class="content_article__buttons1 d-flex pad-0_3">
              <div class="content_article__buttons1_text d-flex">Действия</div>
              <form
                th:action="@{/projects/download-shipment/{id}/(id=${project.id})}"
                method="post"
              >
                <button
                  id="download_shipment"
                  type="submit"
                  class="content_article__buttons2_yellow content_article__buttons2_yellow_normalWidth d-flex"
                >
                  Сохранить файл "Отгрузка"
                </button>
              </form>
              <form
                th:action="@{/projects/download-array/{id}/(id=${project.id})}"
                method="post"
              >
                <button
                  id="download_array"
                  type="submit"
                  class="content_article__buttons2_yellow content_article__buttons2_yellow_normalWidth d-flex"
                >
                  Сохранить файл "Список"
                </button>
              </form>
              <button
                id="update_project"
                type="submit"
                class="content_article__buttons1_green d-flex"
              >
                Обновить проект
              </button>
              <button
                id="close_project"
                type="submit"
                class="content_article__buttons1_red d-flex"
              >
                Закрыть проект
              </button>
            </div>
            <!-- ! old start -->
            <!-- <div class="content_article__buttons2 d-flex pad-0_3">
              <a
                href="#"
                class="content_article__buttons2_yellow d-flex"
                style="width: 9%"
              >
                Единый список
              </a>

              <a
                href="#"
                class="content_article__buttons2_yellow d-flex"
                style="width: 12%"
              >
                Просмотр по группам
              </a>

              <a href="#" class="content_article__buttons2_yellow d-flex">
                Просмотр по разделам сметы
              </a>
              <a href="#" class="content_article__buttons2_red d-flex">
                Сбросить фильтр
              </a>
              <input
                id="barcode_search_input"
                type="search"
                name="barcode"
                placeholder="Введите штрих код"
                class="content_article__buttons2_input"
              />
            </div> -->
            <!-- ! old end -->
            <!-- ! new start -->
            <div class="content_article__buttons2 d-flex pad-0_3">
              <button
                href="#"
                class="content_article__buttons2_yellow d-flex"
                id="projectCreateSingleListBtn"
                style="width: 8%"
              >
                Единый список
              </button>

              <div class="look_group d-flex">
                <select class="look_group__select" id="category_tools">
                  <option class="vs__selected vs__dropdown-toggle" value="">
                    Выберите категорию
                  </option>
                  <option
                    class="look_group__option"
                    th:each="category: ${list_categories}"
                    th:value="${category.id}"
                    th:text="${category.getData()}"
                  ></option>
                </select>
              </div>
              <div class="look_group d-flex">
                <select class="look_group__select" id="estimate_section">
                  <option class="vs__selected vs__dropdown-toggle" value="">
                    Выберите раздел сметы
                  </option>
                  <option
                    class="look_group__option"
                    th:each="section: ${T(wns.constants.EstimateSection).values()}"
                    th:value="${section}"
                    th:text="${section.getValue()}"
                  ></option>
                </select>
              </div>
              <button
                id="get_tools_by_filters"
                class="content_article__buttons2_yellow d-flex"
              >
                Отобразить по фильтрам
              </button>
              <a href="#" class="content_article__buttons2_red d-flex">
                Сбросить фильтр
              </a>
              <input
                id="barcode_search_input"
                type="search"
                name="barcode"
                placeholder="Введите штрих код"
                class="content_article__buttons2_input"
              />
            </div>
            <!-- ! new end -->
            <div class="content_article__table d-flex">
              <table class="content_table__info">
                <tr class="content_table__info_name">
                  <th class="content_table__info_pos">#</th>
                  <th class="content_table__info_pos">Наименование</th>
                  <th class="content_table__info_pos">Штрихкод</th>
                  <th class="content_table__info_pos">Группа</th>
                  <th class="content_table__info_pos">Марка/Модель</th>
                  <th class="content_table__info_pos">Серийный номер</th>
                  <th class="content_table__info_pos">Коментарий</th>
                  <th class="content_table__info_pos">Характеристики</th>
                  <th class="content_table__info_pos">Состояние</th>
                  <th class="content_table__info_pos">Цена</th>
                  <th class="content_table__info_pos">Себестоимость</th>
                  <th class="content_table__info_pos">Комплект</th>
                </tr>
                <tr
                  class="content_table__info_line row-tool"
                  th:each="tool : ${list_tools}"
                >
                  <td class="content_table__info_column">
                    <input class="choose_tool ids" type="checkbox" />
                    <input
                      class="id_tool id_ob"
                      type="text"
                      th:value="${tool.id}"
                      hidden="hidden"
                    />
                    <span class="tool_id" th:utext="${toolStat.index+1}"></span>
                  </td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.name}"
                  ></td>
                  <td
                    class="content_table__info_column barcode-tool"
                    th:utext="${tool.barcode}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.category}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.model}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.serialNumber}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.comment}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.characteristics}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.state}"
                  ></td>
                  <td
                    class="content_table__info_column price-tool"
                    th:utext="${tool.costPrice}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.priceSell}"
                  ></td>
                  <td
                    class="content_table__info_column"
                    th:utext="${tool.equip}"
                  ></td>
                </tr>
              </table>
            </div>
            <div class="content_article__buttons3 d-flex pad-0_3">
              <div class="content_article__buttons3_text d-flex">
                Действия с оборудованием
              </div>
              <a
                th:href="@{/tools/add-tool-to-project/{id}/(id=${project.id})}"
                class="content_article__buttons3_yellow d-flex"
                style="width: 6%"
              >
                Добавить
              </a>
              <input
                id="replaceBtn"
                type="submit"
                class="content_article__buttons3_yellow d-flex"
                value="Заменить"
                style="width: 6%"
              />
              <input
                th:href="@{/estimate/create/{id}(id=${project.getId()})}"
                id="replaceBtnOther"
                type="submit"
                class="content_article__buttons3_yellow d-flex"
                style="width: 22%"
                value="Добавить оборудование из другого проекта"
              />
              <a
                th:href="@{/estimate/create/{id}(id=${project.getId()})}"
                type="submit"
                class="content_article__buttons3_yellow d-flex"
              >
                Открыть смету
              </a>
              <input
                id="removeBtn"
                type="submit"
                class="content_article__buttons3_red d-flex"
                value="Удалить"
              />
            </div>

            <div class="pagination-control col-lg-12 order-lg-1">
              <!-- Bootstrap 4 -->
              <nav aria-label="Навигация по страницам">
                <ul class="pagination">
                  <li
                    class="page-item"
                    th:if="${list_tools.totalPages > 0}"
                    th:each="page_number : ${page_numbers}"
                  >
                    <a
                      class="page-link-m page-link"
                      th:href="@{/projects/edit/{id}/(size=${list_tools.size}, page=${page_numberStat.index}, id=${project.getId()})}"
                      th:text="${page_numberStat.index}"
                      th:class="${page_number==list_tools.number + 1} ? active"
                    >
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <div th:insert="fragments/footer.html"></div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      th:src="@{/dist/static/js/calendar.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/dist/static/js/SearchBarcode.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/dist/static/js/getToolsByFilter.js}"
    ></script>
  </body>
</html>
