<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/static/css/edit_estimate_name.css}">
    <title>Ассоциативный массив - Редактирование</title>
</head>
<body>
<div class="projects_wrapper d-flex">
    <div class="projects_wrapper__main d-flex">
        <div th:replace="fragments/menu_sidebar.html"></div>
        <div class="main_general d-flex">
            <div class="main_general__content d-flex">
                <div class="main_general__content_article d-flex pad-0_3">
                    <div class="content_article__name d-flex">
                        <div class="content_article__name_text d-flex">
                            Ассоциативный массив
                        </div>
                        <a href="/estimate-name" class="content_article__name_back d-flex">
                            Назад
                        </a> 
                    </div>
                    <form th:action="@{/estimate-name/edit/{id}(id=${estimateName.id})}" method="post"
                          th:object="${estimateName}" class="content_article__form d-flex">
                        <div class="content_article__form_block d-flex">
                            <div class="content_article__form_item d-flex">
                                <label class="form_title__text">Наименование в смете</label>
                                <input th:value="${estimateName.name}" th:field="*{name}"
                                       required class="form_title__input" type="text">
                            </div>
                            <div class="content_article__form_item d-flex">
                                <label class="form_title__text">Группа</label>
                                <select id="select_category_tool" th:field="*{categoryId}" class="form_title__input"
                                        style="height: 120%;">
                                    <option value="" disabled>
                                        Выберите группу оборудования
                                    </option>
                                    <option th:each="type : ${list_categories}"
                                            th:value="${type.id}"
                                            th:text="${type.name}"
                                            th:selected="${type.name==estimateName.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="content_article__form_button d-flex">
                            <button type="submit" class="form_button__submit d-flex">
                                Обновить
                            </button>
                        </div>

                    </form>
                    <form th:action="@{/estimate-name/delete/{id}(id=${estimateName.id})}" method="post" class="content_article__form_button__red d-flex">
                        <button type="submit" class="form_button__submit_red d-flex">
                            Удалить ассоциативный массив
                        </button>
                    </form>

                </div>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>