<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="utf-8">
    <link rel="icon" th:href="@{/dist/static/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/static/css/reports.css}">

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--JQuery-->
    <script type="text/javascript" th:src="@{/dist/static/js/jquery.js}"></script>
    <!-- jQuery Modal -->
    <script type="text/javascript" th:src="@{/dist/static/js/jquery.modal.js}"></script>
    <link rel="stylesheet" th:href="@{/dist/static/css/jquery.modal.css}"/>
	<title>Отчёты</title>
</head>
<body>
    <div class="projects_wrapper d-flex">
        <div class="projects_wrapper__main d-flex">
            <div th:replace="fragments/menu_sidebar.html"></div>
            <div class="main_general d-flex">
                <div class="main_general__content d-flex">
                    <div class="main_general__content_buttons d-flex pad-0_3">
                        <a href="#" class="content_buttons__projects d-flex">
                            Проекты
                        </a>
                        <a href="#" class="content_buttons__general d-flex">
                            Общий
                        </a>
                        <a href="#" class="content_buttons__other d-flex" style="width: 7%;">
                            Оборудование
                        </a>
                        <a href="#" class="content_buttons__other d-flex" style="width: 13%;">
                            Оборудование на проектах
                        </a>

                        <div class="content_buttons__rent_time d-flex">
                            <span class="rent__time__label">
                              Даты с:
                            </span>
                            <div class="rent__time__group">
                              <div class="rent__time__group_control">
                                <input type="date" class="rent__time__group_date" placeholder="">
                              </div>
                            </div>
                          </div>


                          <div class="content_buttons__rent_time d-flex">
                            <span class="rent__time__group__label">
                              Даты по:
                            </span>
                            <div class="rent__time__group">
                              <div class="rent__time__group_control">
                                <input type="date" class="rent__time__group_date" placeholder="">
                              </div>
                            </div>
                          </div>

                          <a href="#" class="content_buttons__other d-flex">
                            Календарь
                        </a>
                        <a href="#" class="content_buttons__other d-flex">
                            Обновить
                        </a>
                        <a href="#" class="content_buttons__other d-flex">
                            Экспорт
                        </a>

                    </div>
                    <div class="main_general__content_table d-flex pad-0_3">
                        <table class="content_table__info">
                            <tr class="content_table__info_name">
                                <th class="content_table__info_pos">#</th>
                                <th class="content_table__info_pos">Дата создания</th>
                                <th class="content_table__info_pos">Покупатель</th>
                                <th class="content_table__info_pos">Телефон</th>
                                <th class="content_table__info_pos">Всего цена продажи</th>
                                <th class="content_table__info_pos">Сотрудник</th>
                                <th class="content_table__info_pos">Примечание</th>
                                <th class="content_table__info_pos">Статус</th>
                                <th class="content_table__info_pos">Фотографии</th>
                            </tr>
                            <tr class="content_table__info_line">
                                <td class="content_table__info_column">1</td>
                                <td class="content_table__info_column">2</td>
                                <td class="content_table__info_column">3</td>
                                <td class="content_table__info_column">4</td>
                                <td class="content_table__info_column">5</td>
                                <td class="content_table__info_column">6</td>
                                <td class="content_table__info_column">7</td>
                                <td class="content_table__info_column">8</td>
                                <td class="content_table__info_column">9</td>
                            </tr>
                            <tr class="content_table__info_line">
                                <td class="content_table__info_column">1</td>
                                <td class="content_table__info_column">2</td>
                                <td class="content_table__info_column">3</td>
                                <td class="content_table__info_column">4</td>
                                <td class="content_table__info_column">5</td>
                                <td class="content_table__info_column">6</td>
                                <td class="content_table__info_column">7</td>
                                <td class="content_table__info_column">8</td>
                                <td class="content_table__info_column">9</td>
                            </tr>  
                            <tr class="content_table__info_line">
                                <td class="content_table__info_column">1</td>
                                <td class="content_table__info_column">2</td>
                                <td class="content_table__info_column">3</td>
                                <td class="content_table__info_column">4</td>
                                <td class="content_table__info_column">5</td>
                                <td class="content_table__info_column">6</td>
                                <td class="content_table__info_column">7</td>
                                <td class="content_table__info_column">8</td>
                                <td class="content_table__info_column">9</td>
                            </tr>  
                            <tr class="content_table__info_line">
                                <td class="content_table__info_column">1</td>
                                <td class="content_table__info_column">2</td>
                                <td class="content_table__info_column">3</td>
                                <td class="content_table__info_column">4</td>
                                <td class="content_table__info_column">5</td>
                                <td class="content_table__info_column">6</td>
                                <td class="content_table__info_column">7</td>
                                <td class="content_table__info_column">8</td>
                                <td class="content_table__info_column">9</td>
                            </tr>  
                            <tr class="content_table__info_line">
                                <td class="content_table__info_column">1</td>
                                <td class="content_table__info_column">2</td>
                                <td class="content_table__info_column">3</td>
                                <td class="content_table__info_column">4</td>
                                <td class="content_table__info_column">5</td>
                                <td class="content_table__info_column">6</td>
                                <td class="content_table__info_column">7</td>
                                <td class="content_table__info_column">8</td>
                                <td class="content_table__info_column">9</td>
                            </tr>                             
                        </table>
                    </div>
                    <div class="main_general__content_footer d-flex pad-0_3">
                        Mad dog © 2022-Все права защищены
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>