@import '../variables';

.process {
  padding: 14.2rem 0 0 0;

  & .container {
    max-width: 129.6rem;
    padding: 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      transform: translateX(110%);
      right: 0;
      background-image: url("../image/Architecture.png");
      width: 28.6rem;
      height: 54.5rem;
    }
  }

  & .sub-heading {
    position: relative;
    margin-bottom: 1.5rem;
  }

  & .sub-heading::before {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: $orange;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -2.5rem;
  }

  &_content {
    position: relative;

    &-wrapper {
      max-width: 100%;
      height: 54.1rem;
      overflow: hidden;
    }
  }

  &-video {
    width: 100%;
  }
}

.progress-tab-list {
  list-style: none;
  gap: 2.4rem;
  margin: 3.7rem 0 8rem 0;
  font-family: Jost, sans-serif;
  font-size: $font-size-middle;
  color: $black;
  width: 100%;
}

.tab-list {
  &_item {
    width: 100%;
    height: 8rem;
    padding: 2.3rem;
    background-color: inherit;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $weight-bold-m;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
    }
  }

  &_item-active {
    height: 9rem;
    padding-bottom: 3.3rem;
    background-color: $orange;
    color: $white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 54% 89%, 50% 100%, 46% 89%, 0% 89%);
  }
}

.play-btn {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: $orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $orange;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 0.2s;

  &-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &::after {
    content: '';
    display: block;
    height: 3.1rem;
    width: 2.1rem;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0% 0%, 100% 50%, 100% 50%, 0% 100%);
  }

  &:hover {
    cursor: pointer;
  }
}

.flex {
  display: flex;
}

.flex_center {
  align-items: center;
  justify-content: center;
}

.flex_column {
  flex-direction: column;
}
