@import '../mixins.scss';
@import '../utils.scss';
@import '../variables.scss';

.status {
    @extend .container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.4rem;
    padding-top: 10rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 10rem;
        transform: translateX(-110%) rotateY(180deg);
        left: 0;
        background-image: url("../image/Architecture.png");
        width: 28.6rem;
        height: 54.5rem;
        transform: translateX(-0%);
    }

    &-label-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        &-line {
            width: 1.5rem;
            height: 0.2rem; 
            background-color: orange; 
        }
    }
}
.status-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.6rem;
    padding-top: 8rem;

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30.6rem;
        height: 20.6rem;
        background-color: $beige;
        color: $black;
        text-align: center;
        cursor: $cursor-pointer;

        &:hover {
            background-color: $orange;
        }

        span {
            font-size: $font-size-headers;
            font-family: $font-family;
            font-weight: $weight-bold-m; 
            color: $black; 
            line-height: 119%;
            //margin-bottom: 0.5rem; 
        }

        p {
            font-size: $font-size-middle; 
            font-family: $font-family;
            font-weight: $weight-bold-m; 
            line-height: 142%;
            color: $black;
            text-align: center;
        }
    }
}