.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
 }

.footer__map {
  height:600px;
  width: 100%;
  filter: grayscale(1);
  position: relative;
  z-index: 1;
}

.footer__newsletter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: $orange;
  height: 12vh;
  width: 65vw;
  // top: 90%; 
  left: 50%;
  transform: translateX(-50%);
  position: absolute; 
  z-index: 2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
 }

.footer__newsletter-text {
  font-family: $font-family;
  font-size: $font-size-large;
  font-weight: $weight-bold-m;
  color: white;
  line-height: 1.4;
}

.footer__newsletter-input {
  background: transparent; 
  border: none; 
  color: $white; 
  font-size:$font-size-base;
  font-weight: $weight-regular;
  outline: none;
}

.footer__newsletter-input::placeholder {
  color: $white; 
  opacity: 0.7; 
}
.footer__newsletter-emailwrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $white;
}
.footer__newsletter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white; 
  border: none; 
  cursor: $cursor-pointer; 
  font-size: $font-size-middle; 
}

.footer__newsletter-button::before {
  content: '➔'; 
  color: $orange; 
  transform: rotate(-45deg);
}

.footer__info-wrapper {
display: flex;
flex-direction: column;
align-items: start;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 65vw;
  position: relative;
  z-index: 1;
  margin-top: 5vh;
}

.footer__logo {
Width: 11vw;
Height: 4vh;
}

.footer__welcome,
.footer__hours {
  width: 20vw;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $weight-regular;
  margin-top: 1vh;
  height: 26px;
}
.footer__welcome
{
  color: $gray;
}
.footer__availability {
  width: 20vw;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $weight-bold-m;
  margin-top:3vh;
  height: 26px;
}
.footer__links,
.footer__info-section,
.footer__social {
  flex: 1;
  margin-right: 20px;
  font-weight: $weight-bold-l;
  color:$white;
 }

.footer__links-title,
.footer__info-title,
.footer__social-title {
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $weight-bold-m;
    }

.footer__link,
.footer__info-link,
.footer__social-link {
  display: block;
  margin-bottom: 5px;
  color: $gray;
  text-decoration: none;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $weight-regular;
  margin-top: 2rem;
}
.footer__list-item,
.footer__info-item,
.footer__social-item {
list-style-type: none;
}



.footer__hours {
  color: $orange;
}
.footer__link:hover,
.footer__info-link:hover,
.footer__social-link:hover {
  text-decoration: underline;
}

.footer__copyright {
  text-align: center;
 font-family: $font-family;
 font-size:$font-size-base ;
 margin-top: 40px;

}