.projects {
  text-align: center;
  padding: 16rem 0 0 0;
  background-color:$white;
  width: 100%;
}
.projects__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.projects__header  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}
.projects__title  {
  display: flex;
  flex-direction: column;
  font-size: $font-size-middle; 
  font-family: $font-family;
  font-weight: $weight-bold-m; 
}

.projects__line-wrapper  {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  }

.projects__line  {
  width: 1rem;
  margin-right: 1rem;
}

.projects__gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.projects__slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.projects__image {
  width: 40vw;
  height: 30vh;
  margin: 1vw;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.projects__buttons { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
.projects__button {
  background-color: transparent;
  border: none;
  font-size: 4.8rem;
  cursor: pointer;
  color: $orange;
  padding: 10px;
  transition: color ease;
  margin: 20px;
}

.projects__button:hover {
  color: darken($orange, 10%);
}

.projects__button--left {
  color: $black;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.projects__button--right {
  color: $black;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.projects__button--righ:hover {
  color: $orange;
}

.projects__description {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 35vw;
  text-align: center;
  font-size: 14px;
  z-index: 100;
}

.projects__image-wrapper {
  position: relative;
}

.projects__image-wrapper:hover .projects__description {
  display: block;
}


@media screen and (max-width: 1200px) {
  .projects__image,
  .projects__description {
    width: 50vw; 
  }
}

@media screen and (max-width: 768px) {
  .projects__image,
  .projects__description {
    width: 100vw; 
  }
}
